.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(o, 0, 0, 0.1);
}


.image.profile-img{
    height: 100%;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-card.text-data{
    display: flex;
    flex-direction: column;
    align-items:center;
    color: #333;
}
.text-data.name{
    font-size: 22px;
    font-weight: 500;
}
.text-data.job{
    font-size: 15px;
    font-weight: 400;

}
.profile-card.media-button{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-button .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    height: 34px;
    width: 34px;
    background-color: #4070f4;
    text-decoration: none;
    margin: 0 8px;
    border-radius: 50%;
    font-size: 18px;

}
.profile-card.button{
    display: flex;
    align-items: center;
    margin-top: 25px; 
}
.buttons .button{
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 24px;
    margin:0 10px
    padding: 8px 24px;
    background-color: #4070f4;
    transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e4bf1;
}